{% set pageTitle = "What is the test site or event ID?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        The ID will be 3 or 4 characters.
    </p>
    <p class="govuk-body">
        If you cannot find it, ask a member of staff. 
    </p>

    <form class="form govuk-!-margin-top-8" action="#" method="post">
        {{ govukInput({
            id: "siteID",
            name: "siteID",
            label: {
                text: "Test site or event ID",
                classes: "govuk-label--m"
            },
            hint: {
                text: "For example, THGR or LMHL"
            }
        }) }}
        
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>

{% endblock %}